@import '../base/variables';

.header {
  background-color: $color-accent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 84px;
  position: fixed;
  z-index: 1;
  left: 0;

  @media screen and (max-width: 768px) {

    .logo-holder {
      padding-left: 58px;
      margin: 0 auto;

      @media screen and (width: 768px) {
        padding-left: 0;
      }
    }
  }

  &.active {

    .nav-list {
      opacity: 1;
      visibility: visible;
    }

    .burger-btn {
      margin: 0 18px calc(((84px / 2) / 2) - 6px) 0;

      span {
        opacity: 0;
      }

      &:before {
        transform: rotate(45deg);
        top: 17px;
      }

      &:after {
        transform: rotate(-45deg);
        bottom: 5px;
      }
    }
  }

  @include media-query-for-size(tablet-only) {
    min-height: 136px;
  }

  @include media-query-for-size(desktop-small) {
    min-height: 84px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1320px;

    @include media-query-for-size(mobile-small) {
      justify-content: space-between;
      align-items: center;
    }

    @include media-query-for-size(tablet-only) {
      justify-content: space-between;
      flex-direction: column;
      max-width: 720px;
      gap: 32px;
    }

    @include media-query-for-size(desktop-small) {
      justify-content: space-between;
      flex-direction: row;
      max-width: 960px;
      gap: 0;
    }

    @include media-query-for-size(desktop-medium) {
      justify-content: space-between;
      flex-direction: row;
      max-width: 1140px;
      gap: 0;
    }

    @include media-query-for-size(desktop-full-hd) {
      justify-content: space-between;
      flex-direction: row;
      max-width: 1320px;
      gap: 0;
    }
  }

  .nav-list {
    background-color: $color-accent;
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px;
    gap: 24px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.2s;

    @include media-query-for-size(tablet-only) {
      margin: 0;
      padding: 0;
      position: static;
      opacity: 1;
      visibility: visible;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 40px;
    }
  }

  .nav-item {
    text-align: center;
  }

  .nav-link {
    font-family: $secondary-font;
    font-weight: $secondary-font-regular;
    font-size: $secondary-font-size-14;
    line-height: $secondary-font-line-height-20;
    letter-spacing: $secondary-font-letter-spacing-01;
    color: $color-white;
    text-transform: uppercase;
    font-style: normal;
  }

  .burger-btn {
    position: relative;
    width: 40px;
    height: 24px;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0 18px 0 0;

    @media screen and (max-width: 321px) {
      margin: 0 9px 0 9px;
    }

    @include media-query-for-size(tablet-only) {
      display: none;
    }

    span,
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 2px solid $color-white;
      transition: all ease-in-out 0.1s;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }
}