@import '../base/variables';

.why-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 704px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: $secondary-font;
    font-weight: $secondary-font-regular;
    font-size: $secondary-font-size-36;
    line-height: $secondary-font-line-height-40;
    color: $color-white;
    font-style: normal;
    text-transform: capitalize;
  }

  .first-paragraph-holder p,
  .second-paragraph-holder p {
    font-family: $main-font;
    font-weight: $main-font-light;
    font-size: $main-font-size-16;
    line-height: $main-font-line-height-28;
    letter-spacing: $main-font-letter-spacing-01;
    color: $color-white;
    font-style: normal;
  }

  .why-container {
    width: 100%;
    max-width: 1320px;
    min-height: 704px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    @include media-query-for-size (mobile-small) {
      max-width: 260px;
      min-height: 630px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include media-query-for-size (mobile-only) {
      max-width: 540px;
      min-height: 630px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include media-query-for-size (tablet-only) {
      max-width: 720px;
      min-height: 659px;
      flex-direction: column-reverse;
      justify-content: center;
    }

    @include media-query-for-size (desktop-small) {
      max-width: 960px;
      min-height: 704px;
      flex-direction: row;
      justify-content: space-between;
    }

    @include media-query-for-size (desktop-medium) {
      max-width: 1140px;
      min-height: 704px;
      flex-direction: row;
      justify-content: space-between;
    }

    @include media-query-for-size (desktop-full-hd) {
      max-width: 1320px;
      min-height: 704px;
      flex-direction: row;
      justify-content: space-between;
    }

    .why-text-content-holder {
      width: 100%;
      min-height: 324px;
      max-width: 648px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;

      @include media-query-for-size (mobile-small) {
        max-width: 260px;
        min-height: 311px;
        justify-content: center;
        align-items: center;

        .first-paragraph-holder p,
        .second-paragraph-holder p {
          text-align: justify;
        }
      }

      @include media-query-for-size (mobile-only) {
        max-width: 540px;
        min-height: 311px;
        justify-content: center;
        align-items: center;

        .first-paragraph-holder p,
        .second-paragraph-holder p {
          text-align: center;
        }
      }

      @include media-query-for-size (tablet-only) {
        max-width: 720px;
        min-height: 288px;
        justify-content: center;
        align-items: center;

        .first-paragraph-holder p,
        .second-paragraph-holder p {
          text-align: center;
        }
      }

      @include media-query-for-size (desktop-small) {
        max-width: 550px;
        min-height: 324px;
        justify-content: space-between;
        align-items: flex-start;

        .first-paragraph-holder p,
        .second-paragraph-holder p {
          text-align: left;
        }
      }

      @include media-query-for-size (desktop-medium) {
        max-width: 558px;
        min-height: 324px;
        justify-content: space-between;
        align-items: flex-start;

        .first-paragraph-holder p,
        .second-paragraph-holder p {
          text-align: left;
        }
      }
  
      @include media-query-for-size (desktop-full-hd) {
        max-width: 648px;
        min-height: 324px;
        justify-content: space-between;
        align-items: flex-start;

        .first-paragraph-holder p,
        .second-paragraph-holder p {
          text-align: left;
        }
      }
    }

    .text-holder {
      width: 100%;
      min-height: 168px;
      max-width: 648px;

      @include media-query-for-size (mobile-small) {
        max-width: 260px;
      }

      @include media-query-for-size (mobile-only) {
        max-width: 540px;
      }

      @include media-query-for-size (tablet-only) {
        max-width: 720px;
      }

      @include media-query-for-size (desktop-small) {
        max-width: 648px;
      }
    }
  }

  .why-images-holder {
    width: 100%;
    min-height: 456px;
    max-width: 424px;
    margin-right: 112px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;

    @include media-query-for-size (mobile-small) {
      flex-direction: row;
      max-width: 260px;
      min-height: 76px;
      margin-right: 0;
      padding-bottom: 30px;
    }

    @include media-query-for-size (mobile-only) {
      flex-direction: row;
      max-width: 540px;
      min-height: 162px;
      margin-right: 0;
      padding-bottom: 37px;
    }

    @include media-query-for-size (tablet-only) {
      flex-direction: row;
      max-width: 720px;
      min-height: 220px;
      margin-right: 0;
      padding-bottom: 32px;
    }

    @include media-query-for-size (desktop-small) {
      flex-direction: column;
      max-width: 386px;
      min-height: 456px;
      margin-right: 0;
      padding-bottom: 0;
    }

    @include media-query-for-size (desktop-medium) {
      flex-direction: column;
      max-width: 461px;
      min-height: 456px;
      margin-right: 0;
      padding-bottom: 0;
    }

    @include media-query-for-size (desktop-full-hd) {
      flex-direction: column;
      max-width: 424px;
      min-height: 456px;
      margin-right: 112px;
      padding-bottom: 0;
    }

    .why-first-image-holder {
      margin-right: 74px;

      @include media-query-for-size (mobile-small) {
        margin-right: 0;
        max-width: 120px;
        min-height: 76px;
      }

      @include media-query-for-size (mobile-only) {
        margin-right: 0;
        max-width: 258px;
        min-height: 162px;
      }

      @include media-query-for-size (tablet-only) {
        margin-right: 0;
        max-width: 350px;
        min-height: 220px;
      }

      @include media-query-for-size (desktop-small) {
        margin-right: 36px;
        max-width: 350px;
        min-height: 220px;
      }

      @include media-query-for-size (desktop-medium) {
        margin-right: 111px;
        max-width: 350px;
        min-height: 220px;
      }
  
      @include media-query-for-size (desktop-full-hd) {
        margin-right: 74px;
        max-width: 350px;
        min-height: 220px;
      }
    }

    .why-second-image-holder {
      margin-left: 74px;

      @include media-query-for-size (mobile-small) {
        margin-left: 0;
        max-width: 120px;
        min-height: 76px;
      }

      @include media-query-for-size (mobile-only) {
        margin-left: 0;
        max-width: 258px;
        min-height: 162px;
      }

      @include media-query-for-size (tablet-only) {
        margin-left: 0;
        max-width: 350px;
        min-height: 220px;
      }

      @include media-query-for-size (desktop-small) {
        margin-left: 36px;
        max-width: 350px;
        min-height: 220px;
      }

      @include media-query-for-size (desktop-medium) {
        margin-left: 111px;
        max-width: 350px;
        min-height: 220px;
      }
  
      @include media-query-for-size (desktop-full-hd) {
        margin-left: 74px;
        max-width: 350px;
        min-height: 220px;
      }
    }
  }

  .link-button-holder {
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      min-height: 0;
      max-width: 109px;
      border-bottom: 60px solid $color-accent-darker;
      border-left: 0 solid transparent;
      border-right: 60px solid transparent;
    }
  }

  .link-button {
    font-family: $secondary-font;
    font-weight: $secondary-font-regular;
    font-size: $secondary-font-size-16;
    line-height: $secondary-font-line-height-20;
    letter-spacing: $secondary-font-letter-spacing-007;
    color: $color-white;
    font-style: normal;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    width: 213px;
    background-color: $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;

    &:hover {
      color: $color-black;
    }

    .link-button-text-holder {
      z-index: 0;
    }
  }
}