/*ALEO font*/

//'Aleo' font regular (font-weight: 400)
@font-face {
  font-family: 'aleo';

  src: url('../../assets/fonts/aleo-font/aleo-regular-webfont.eot');
  src: url('../../assets/fonts/aleo-font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/aleo-font/aleo-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/aleo-font/aleo-regular-webfont.woff') format('woff'),
       url('../../assets/fonts/aleo-font/aleo-regular-webfont.ttf') format('truetype'),
       url('../../assets/fonts/aleo-font/aleo-regular-webfont.svg#aleoregular') format('svg');

  font-weight: 400;
  font-style: normal;
}




/*JOSEFIN SANS font*/

//'Josefin Sans' font light (font-weight: 300)
@font-face {
  font-family: 'josefinsans';

  src: url('../../assets/fonts/josefin-sans-font/josefinsans-light-webfont.ttf');
  src: url('../../assets/fonts/josefin-sans-font/josefinsans-light-webfont.ttf') format('truetype');

  font-weight: 300;
  font-style: normal;
}

//'Josefin Sans' font regular (font-weight: 400)
@font-face {
  font-family: 'josefinsans';

  src: url('../../assets/fonts/josefin-sans-font/josefinsans-regular-webfont.ttf');
  src: url('../../assets/fonts/josefin-sans-font/josefinsans-regular-webfont.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
}

//'Josefin Sans' font bold (font-weight: 700)
@font-face {
  font-family: 'josefinsans';

  src: url('../../assets/fonts/josefin-sans-font/josefinsans-bold-webfont.ttf');
  src: url('../../assets/fonts/josefin-sans-font/josefinsans-bold-webfont.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
}