* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  outline: none;

  &[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

img {
  max-width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
}

.main {

  @media screen and (max-width: 768px) {
    padding-top: 84px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding-top: 136px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 84px;
  }
}