* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100vh;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  outline: none;

  &[type=text]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &[type=text]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &[type="search"]::-webkit-search-decoration,
  &[type="search"]::-webkit-search-cancel-button,
  &[type="search"]::-webkit-search-results-button,
  &[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}

img {
  max-width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

a {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}

.main {

  @media screen and (max-width: 768px) {
    padding-top: 84px;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding-top: 136px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 84px;
  }
}

.link-button-holder {
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    min-height: 0;
    max-width: 109px;
    border-bottom: 60px solid $color-accent-darker;
    border-left: 0 solid transparent;
    border-right: 60px solid transparent;
  }
}

.link-button {
  font-family: $secondary-font;
  font-weight: $secondary-font-regular;
  font-size: $secondary-font-size-16;
  line-height: $secondary-font-line-height-20;
  letter-spacing: $secondary-font-letter-spacing-007;
  color: $color-white;
  font-style: normal;
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  width: 213px;
  background-color: $color-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.3s;

  &:hover {
    color: $color-black;
  }

  .link-button-text-holder {
    z-index: 0;
  }
}